#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  padding-top: 2%;
}

#submitBtn {
  margin-left: 27%;
  margin-top: 5px;
}

.input-group .form-control {
  margin: 0px !important;
}

h1{
  font-size: 400%;
}

h2{
  padding-bottom: 12px;
}

#container{
  font-size: 110%;
}

.btn-danger{
  border: none;
}
